## I. Diabetes Readmission data set initial data cleansing

### Steps
#### 1. data import
#### 2. Remove duplicates
#### 3. Replace missing value '?' with NaN
#### 4. Drop features with too many missing values
#### 5. Add full description of some features

In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np
from scipy import stats

###  1.Import oringinal data

In [2]:
diabetic_data_initial=pd.read_csv(r'D:\Yafen\study\UHG DSU\my project\dataset_diabetes\diabetic_data.csv')

In [3]:
print('diabetic_data_initial shape:',diabetic_data_initial.shape)
diabetic_data_initial.head()

diabetic_data_initial shape: (101766, 50)

   encounter_id  patient_nbr             race  gender      age weight  admission_type_id  discharge_disposition_id  admission_source_id  time_in_hospital payer_code         medical_specialty  num_lab_procedures  num_procedures  num_medications  number_outpatient  number_emergency  number_inpatient  diag_1  diag_2 diag_3  number_diagnoses max_glu_serum A1Cresult metformin repaglinide nateglinide chlorpropamide glimepiride acetohexamide glipizide glyburide tolbutamide pioglitazone rosiglitazone acarbose miglitol troglitazone tolazamide examide citoglipton insulin glyburide-metformin glipizide-metformin glimepiride-pioglitazone metformin-rosiglitazone metformin-pioglitazone change diabetesMed readmitted
0       2278392      8222157        Caucasian  Female   [0-10)      ?                  6                        25                    1                 1          ?  Pediatrics-Endocrinology                  41               0                1                  0                 0                 0  250.83       ?      ?                 1          None      None        No          No          No             No          No            No        No        No          No           No            No       No       No           No         No      No          No      No                  No                  No                       No                      No                     No     No          No         NO
1        149190     55629189        Caucasian  Female  [10-20)      ?                  1                         1                    7                 3          ?                         ?                  59               0               18                  0                 0                 0     276  250.01    255                 9          None      None        No          No          No             No          No            No        No        No          No           No            No       No       No           No         No      No          No      Up                  No                  No                       No                      No                     No     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  Female  [20-30)      ?                  1                         1                    7                 2          ?                         ?                  11               5               13                  2                 0                 1     648     250    V27                 6          None      None        No          No          No             No          No            No    Steady        No          No           No            No       No       No           No         No      No          No      No                  No                  No                       No                      No                     No     No         Yes         NO
3        500364     82442376        Caucasian    Male  [30-40)      ?                  1                         1                    7                 2          ?                         ?                  44               1               16                  0                 0                 0       8  250.43    403                 7          None      None        No          No          No             No          No            No        No        No          No           No            No       No       No           No         No      No          No      Up                  No                  No                       No                      No                     No     Ch         Yes         NO
4         16680     42519267        Caucasian    Male  [40-50)      ?                  1                         1                    7                 1          ?                         ?                  51               0                8                  0                 0                 0     197     157    250                 5          None      None        No          No          No             No          No            No    Steady        No          No           No            No       No       No           No         No      No          No  Steady                  No                  No                       No                      No                     No     Ch         Yes         NO

### 2. Data Cleansing
#### Overview of data in original dataset

In [4]:
diabetic_data_initial.describe(include='all')

        encounter_id   patient_nbr       race  gender      age  weight  admission_type_id  discharge_disposition_id  admission_source_id  time_in_hospital payer_code medical_specialty  num_lab_procedures  num_procedures  num_medications  number_outpatient  number_emergency  number_inpatient  diag_1  diag_2  diag_3  number_diagnoses max_glu_serum A1Cresult metformin repaglinide nateglinide chlorpropamide glimepiride acetohexamide glipizide glyburide tolbutamide pioglitazone rosiglitazone acarbose miglitol troglitazone tolazamide examide citoglipton insulin glyburide-metformin glipizide-metformin glimepiride-pioglitazone metformin-rosiglitazone metformin-pioglitazone  change diabetesMed readmitted
count   1.017660e+05  1.017660e+05     101766  101766   101766  101766      101766.000000             101766.000000        101766.000000     101766.000000     101766            101766       101766.000000   101766.000000    101766.000000      101766.000000     101766.000000     101766.000000  101766  101766  101766     101766.000000        101766    101766    101766      101766      101766         101766      101766        101766    101766    101766      101766       101766        101766   101766   101766       101766     101766  101766      101766  101766              101766              101766                   101766                  101766                 101766  101766      101766     101766
unique           NaN           NaN          6       3       10      10                NaN                       NaN                  NaN               NaN         18                73                 NaN             NaN              NaN                NaN               NaN               NaN     717     749     790               NaN             4         4         4           4           4              4           4             2         4         4           2            4             4        4        4            2          3       1           1       4                   4                   2                        2                       2                      2       2           2          3
top              NaN           NaN  Caucasian  Female  [70-80)       ?                NaN                       NaN                  NaN               NaN          ?                 ?                 NaN             NaN              NaN                NaN               NaN               NaN     428     276     250               NaN          None      None        No          No          No             No          No            No        No        No          No           No            No       No       No           No         No      No          No      No                  No                  No                       No                      No                     No      No         Yes         NO
freq             NaN           NaN      76099   54708    26068   98569                NaN                       NaN                  NaN               NaN      40256             49949                 NaN             NaN              NaN                NaN               NaN               NaN    6862    6752   11555               NaN         96420     84748     81778      100227      101063         101680       96575        101765     89080     91116      101743        94438         95401   101458   101728       101763     101727  101766      101766   47383              101060              101753                   101765                  101764                 101765   54755       78363      54864
mean    1.652016e+08  5.433040e+07        NaN     NaN      NaN     NaN           2.024006                  3.715642             5.754437          4.395987        NaN               NaN           43.095641        1.339730        16.021844           0.369357          0.197836          0.635566     NaN     NaN     NaN          7.422607           NaN       NaN       NaN         NaN         NaN            NaN         NaN           NaN       NaN       NaN         NaN          NaN           NaN      NaN      NaN          NaN        NaN     NaN         NaN     NaN                 NaN                 NaN                      NaN                     NaN                    NaN     NaN         NaN        NaN
std     1.026403e+08  3.869636e+07        NaN     NaN      NaN     NaN           1.445403                  5.280166             4.064081          2.985108        NaN               NaN           19.674362        1.705807         8.127566           1.267265          0.930472          1.262863     NaN     NaN     NaN          1.933600           NaN       NaN       NaN         NaN         NaN            NaN         NaN           NaN       NaN       NaN         NaN          NaN           NaN      NaN      NaN          NaN        NaN     NaN         NaN     NaN                 NaN                 NaN                      NaN                     NaN                    NaN     NaN         NaN        NaN
min     1.252200e+04  1.350000e+02        NaN     NaN      NaN     NaN           1.000000                  1.000000             1.000000          1.000000        NaN               NaN            1.000000        0.000000         1.000000           0.000000          0.000000          0.000000     NaN     NaN     NaN          1.000000           NaN       NaN       NaN         NaN         NaN            NaN         NaN           NaN       NaN       NaN         NaN          NaN           NaN      NaN      NaN          NaN        NaN     NaN         NaN     NaN                 NaN                 NaN                      NaN                     NaN                    NaN     NaN         NaN        NaN
25%     8.496119e+07  2.341322e+07        NaN     NaN      NaN     NaN           1.000000                  1.000000             1.000000          2.000000        NaN               NaN           31.000000        0.000000        10.000000           0.000000          0.000000          0.000000     NaN     NaN     NaN          6.000000           NaN       NaN       NaN         NaN         NaN            NaN         NaN           NaN       NaN       NaN         NaN          NaN           NaN      NaN      NaN          NaN        NaN     NaN         NaN     NaN                 NaN                 NaN                      NaN                     NaN                    NaN     NaN         NaN        NaN
50%     1.523890e+08  4.550514e+07        NaN     NaN      NaN     NaN           1.000000                  1.000000             7.000000          4.000000        NaN               NaN           44.000000        1.000000        15.000000           0.000000          0.000000          0.000000     NaN     NaN     NaN          8.000000           NaN       NaN       NaN         NaN         NaN            NaN         NaN           NaN       NaN       NaN         NaN          NaN           NaN      NaN      NaN          NaN        NaN     NaN         NaN     NaN                 NaN                 NaN                      NaN                     NaN                    NaN     NaN         NaN        NaN
75%     2.302709e+08  8.754595e+07        NaN     NaN      NaN     NaN           3.000000                  4.000000             7.000000          6.000000        NaN               NaN           57.000000        2.000000        20.000000           0.000000          0.000000          1.000000     NaN     NaN     NaN          9.000000           NaN       NaN       NaN         NaN         NaN            NaN         NaN           NaN       NaN       NaN         NaN          NaN           NaN      NaN      NaN          NaN        NaN     NaN         NaN     NaN                 NaN                 NaN                      NaN                     NaN                    NaN     NaN         NaN        NaN
max     4.438672e+08  1.895026e+08        NaN     NaN      NaN     NaN           8.000000                 28.000000            25.000000         14.000000        NaN               NaN          132.000000        6.000000        81.000000          42.000000         76.000000         21.000000     NaN     NaN     NaN         16.000000           NaN       NaN       NaN         NaN         NaN            NaN         NaN           NaN       NaN       NaN         NaN          NaN           NaN      NaN      NaN          NaN        NaN     NaN         NaN     NaN                 NaN                 NaN                      NaN                     NaN                    NaN     NaN         NaN        NaN

#### Replace missing value '?' with NaN

In [5]:
diabetic_data_initial.replace('?',np.nan,inplace=True)

In [6]:
diabetic_data_initial.head()

   encounter_id  patient_nbr             race  gender      age weight  admission_type_id  discharge_disposition_id  admission_source_id  time_in_hospital payer_code         medical_specialty  num_lab_procedures  num_procedures  num_medications  number_outpatient  number_emergency  number_inpatient  diag_1  diag_2 diag_3  number_diagnoses max_glu_serum A1Cresult metformin repaglinide nateglinide chlorpropamide glimepiride acetohexamide glipizide glyburide tolbutamide pioglitazone rosiglitazone acarbose miglitol troglitazone tolazamide examide citoglipton insulin glyburide-metformin glipizide-metformin glimepiride-pioglitazone metformin-rosiglitazone metformin-pioglitazone change diabetesMed readmitted
0       2278392      8222157        Caucasian  Female   [0-10)    NaN                  6                        25                    1                 1        NaN  Pediatrics-Endocrinology                  41               0                1                  0                 0                 0  250.83     NaN    NaN                 1          None      None        No          No          No             No          No            No        No        No          No           No            No       No       No           No         No      No          No      No                  No                  No                       No                      No                     No     No          No         NO
1        149190     55629189        Caucasian  Female  [10-20)    NaN                  1                         1                    7                 3        NaN                       NaN                  59               0               18                  0                 0                 0     276  250.01    255                 9          None      None        No          No          No             No          No            No        No        No          No           No            No       No       No           No         No      No          No      Up                  No                  No                       No                      No                     No     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  Female  [20-30)    NaN                  1                         1                    7                 2        NaN                       NaN                  11               5               13                  2                 0                 1     648     250    V27                 6          None      None        No          No          No             No          No            No    Steady        No          No           No            No       No       No           No         No      No          No      No                  No                  No                       No                      No                     No     No         Yes         NO
3        500364     82442376        Caucasian    Male  [30-40)    NaN                  1                         1                    7                 2        NaN                       NaN                  44               1               16                  0                 0                 0       8  250.43    403                 7          None      None        No          No          No             No          No            No        No        No          No           No            No       No       No           No         No      No          No      Up                  No                  No                       No                      No                     No     Ch         Yes         NO
4         16680     42519267        Caucasian    Male  [40-50)    NaN                  1                         1                    7                 1        NaN                       NaN                  51               0                8                  0                 0                 0     197     157    250                 5          None      None        No          No          No             No          No            No    Steady        No          No           No            No       No       No           No         No      No          No  Steady                  No                  No                       No                      No                     No     Ch         Yes         NO

In [7]:
diabetic_data_initial_missing_value_summary=pd.DataFrame(diabetic_data_initial.isnull().sum(axis=0))
diabetic_data_initial_missing_value_summary.reset_index(inplace=True)
diabetic_data_initial_missing_value_summary
diabetic_data_initial_missing_value_summary.columns=['feature','missing_value_count']
diabetic_data_initial_missing_value_summary['missing_value_rate']=round(diabetic_data_initial_missing_value_summary['missing_value_count']/101766*100,2)
diabetic_data_initial_missing_value_summary#.sort_values('missing_value_rate',ascending=False)

                     feature  missing_value_count  missing_value_rate
0               encounter_id                    0                0.00
1                patient_nbr                    0                0.00
2                       race                 2273                2.23
3                     gender                    0                0.00
4                        age                    0                0.00
5                     weight                98569               96.86
6          admission_type_id                    0                0.00
7   discharge_disposition_id                    0                0.00
8        admission_source_id                    0                0.00
9           time_in_hospital                    0                0.00
10                payer_code                40256               39.56
11         medical_specialty                49949               49.08
12        num_lab_procedures                    0                0.00
13            num_procedures                    0                0.00
14           num_medications                    0                0.00
15         number_outpatient                    0                0.00
16          number_emergency                    0                0.00
17          number_inpatient                    0                0.00
18                    diag_1                   21                0.02
19                    diag_2                  358                0.35
20                    diag_3                 1423                1.40
21          number_diagnoses                    0                0.00
22             max_glu_serum                    0                0.00
23                 A1Cresult                    0                0.00
24                 metformin                    0                0.00
25               repaglinide                    0                0.00
26               nateglinide                    0                0.00
27            chlorpropamide                    0                0.00
28               glimepiride                    0                0.00
29             acetohexamide                    0                0.00
30                 glipizide                    0                0.00
31                 glyburide                    0                0.00
32               tolbutamide                    0                0.00
33              pioglitazone                    0                0.00
34             rosiglitazone                    0                0.00
35                  acarbose                    0                0.00
36                  miglitol                    0                0.00
37              troglitazone                    0                0.00
38                tolazamide                    0                0.00
39                   examide                    0                0.00
40               citoglipton                    0                0.00
41                   insulin                    0                0.00
42       glyburide-metformin                    0                0.00
43       glipizide-metformin                    0                0.00
44  glimepiride-pioglitazone                    0                0.00
45   metformin-rosiglitazone                    0                0.00
46    metformin-pioglitazone                    0                0.00
47                    change                    0                0.00
48               diabetesMed                    0                0.00
49                readmitted                    0                0.00

### Drop features that contain too many missing values: weight

In [8]:
diabetic_data_clean=diabetic_data_initial.drop(columns=['weight'])

In [9]:
diabetic_data_clean.shape

(101766, 49)

### Check patients with multiple encounters and only keep one encounter per one patient

In [10]:
diabetic_data_clean.drop_duplicates('encounter_id',keep='first',inplace=True)
diabetic_data_clean.shape

(101766, 49)

In [11]:
101766-71518

30248

In [12]:
diabetic_data_clean.drop_duplicates('patient_nbr',keep='first',inplace=True)
diabetic_data_clean.shape

(71518, 49)

### Remove encounters that resulted in death

In [13]:
discharge_disposition_id=pd.read_csv(r'D:\Yafen\study\UHG DSU\my project\dataset_diabetes\discharge_disposition_id.csv')
discharge_disposition_id

    discharge_disposition_id                                        description                  description_revised
0                          1                                 Discharged to home                   Discharged to home
1                          2  Discharged/transferred to another short term h...  Transfer to another health provider
2                          3                      Discharged/transferred to SNF  Transfer to another health provider
3                          4                      Discharged/transferred to ICF  Transfer to another health provider
4                          5  Discharged/transferred to another type of inpa...  Transfer to another health provider
5                          6  Discharged/transferred to home with home healt...                   Discharged to home
6                          7                                           Left AMA                   Discharged to home
7                          8  Discharged/transferred to home under care of H...                   Discharged to home
8                          9          Admitted as an inpatient to this hospital  Transfer to another health provider
9                         10  Neonate discharged to another hospital for neo...  Transfer to another health provider
10                        11                                            Expired                              hospice
11                        12  Still patient or expected to return for outpat...                   Discharged to home
12                        13                                     Hospice / home                              hospice
13                        14                         Hospice / medical facility                              hospice
14                        15  Discharged/transferred within this institution...  Transfer to another health provider
15                        16  Discharged/transferred/referred another instit...  Transfer to another health provider
16                        17  Discharged/transferred/referred to this instit...  Transfer to another health provider
17                        18                                                NaN                                  UNK
18                        19           Expired at home. Medicaid only, hospice.                              hospice
19                        20  Expired in a medical facility. Medicaid only, ...                              hospice
20                        21    Expired, place unknown. Medicaid only, hospice.                              hospice
21                        22  Discharged/transferred to another rehab fac in...  Transfer to another health provider
22                        23  Discharged/transferred to a long term care hos...  Transfer to another health provider
23                        24  Discharged/transferred to a nursing facility c...  Transfer to another health provider
24                        25                                         Not Mapped                                  UNK
25                        26                                    Unknown/Invalid                                  UNK
26                        30  Discharged/transferred to another Type of Heal...  Transfer to another health provider
27                        27  Discharged/transferred to a federal health car...  Transfer to another health provider
28                        28  Discharged/transferred/referred to a psychiatr...  Transfer to another health provider
29                        29  Discharged/transferred to a Critical Access Ho...  Transfer to another health provider

In [14]:
diabetic_data_clean['discharge_disposition']=pd.merge(discharge_disposition_id,diabetic_data_clean,left_on='discharge_disposition_id',right_on='discharge_disposition_id')['description_revised']
diabetic_data_clean=diabetic_data_clean[diabetic_data_clean['discharge_disposition']!='hospice']

In [15]:
print('Diabetic data after cleansing',diabetic_data_clean.shape)

Diabetic data after cleansing (70510, 50)

### 3. Adding description

#### Map admission_type

In [16]:
admission_type_id=pd.read_csv(r'D:\Yafen\study\UHG DSU\my project\dataset_diabetes\admission_type_id.csv')
admission_type_id.head()

   admission_type_id    description description_revised
0                  1      Emergency           Emergency
1                  2         Urgent              Urgent
2                  3       Elective            Elective
3                  4        Newborn             Newborn
4                  5  Not Available                 UNK

In [17]:
diabetic_data_clean['admission_type']=pd.merge(admission_type_id,diabetic_data_clean,left_on='admission_type_id',right_on='admission_type_id')['description_revised']

In [18]:
diabetic_data_clean.groupby('admission_type').size()

admission_type
Elective          9489
Emergency        27287
Newborn              4
Trauma Center       13
UNK               4138
Urgent           10129
dtype: int64

In [19]:
admission_source_id=pd.read_csv(r'D:\Yafen\study\UHG DSU\my project\dataset_diabetes\admission_source_id.csv')
admission_source_id.head()

   admission_source_id                                      description
0                    1                               Physician Referral
1                    2                                  Clinic Referral
2                    3                                     HMO Referral
3                    4                         Transfer from a hospital
4                    5   Transfer from a Skilled Nursing Facility (SNF)

In [20]:
diabetic_data_clean['admission_source']=pd.merge(admission_source_id,diabetic_data_clean,left_on='admission_source_id',right_on='admission_source_id')['description']

In [23]:
diabetic_data_clean.groupby(['admission_type','admission_source']).size()

admission_type  admission_source
Elective         Emergency Room                                     9489
Emergency        Emergency Room                                     6724
                 Physician Referral                                16346
                 Transfer from a Skilled Nursing Facility (SNF)      395
                 Transfer from another health care facility         1340
                Clinic Referral                                      613
                HMO Referral                                          88
                Transfer from a hospital                            1781
Newborn          Emergency Room                                        4
UNK              Emergency Room                                     1535
                 Not Mapped                                           99
                 Transfer from Ambulatory Surgery Center               1
Urgent           Emergency Room                                    10129
dtype: int64

In [24]:
diabetic_data_clean.drop(columns=['admission_type_id','discharge_disposition_id','admission_source_id','encounter_id','patient_nbr','payer_code','medical_specialty'],inplace=True)

### Export data

In [25]:
diabetic_data_clean.to_csv(r'D:\Yafen\study\UHG DSU\my project\dataset_diabetes\diabetic_data_clean.csv')

In [26]:
diabetic_data_clean.shape

(70510, 45)